body {
    margin: 0;
    /*отступы от блока к соседнему блоку*/
    width: 1512px;
    /*? как сделать по центру весь сайт*/
}

.banner1 {
    height: 939px;
    background-repeat: no-repeat;
    /* если картинка повторяется, то задаем чтобы не повторялась*/
    background-size: cover;
    /*т.е. 100% (добавляем если есть справа пустое место) */
    background-image: url("..//Homework4/image/image_1.png")
}

.banner1-text {
    font-size: 20px;
    /*размер шрифта*/
    text-transform: capitalize;
    color: #FFFFFF;
    /*? еще нужно - сделать как кнопки, отступы, в ряд*/
}

.text0 {
    width: 1175px;

    background-size: cover;
    padding: 50px 0px 0px 200px;
}

.text1 {
    color: #000000;
    font-size: 50px;
    font-weight: bold;

}

.text2 {
    color: #000000;
    font-size: 40px;
    font-weight: bold;
}

.text3 {
    color: #000000;
    font-size: 40px;
    letter-spacing: 0.1em;
    padding: 0px 0px 0px 0px;
    width: 1100px;
}

.red {
    color: #E93434;
}

.bold {
    font-weight: 700;
}

.banner2 {
    height: 811px;
    background-repeat: no-repeat, no-repeat;
    background-size: 504px 429px, cover;
    background-position: 1008px 186px, 0px 0px;
    background-image: url("../Homework4/image/image\ 26.png"), url("../Homework4/image/Rectangle\ 79.png");
}

.banner2-text1 {
    text-align: center;
    font-size: 60px;
    padding: 90px 344px 75px 1px;
    color: white;
}

.banner2-text2 {
    text-align: left;
    font-size: 20px;
    width: 600px;
    height: 300px;
    letter-spacing: 0.3em;
    padding: 0px 0px 170px 267px;
    color: white;
}

.banner3 {
    height: 652px;
    background-repeat: no-repeat;
    background-size: 430px 562px;
    background-position: 0px 0px;
    margin-top: 90px;
    background-image: url("../Homework4/image/image23.png");
}

.banner3-text1 {
    text-transform: capitalize;
    font-weight: bold;
    color: #000000;
    font-size: 50px;
    height: 97px;
    padding: 28px 0px 0px 528px;
}

.banner3-text2 {
    color: #000000;
    text-align: justify;
    font-size: 28px;
    height: 329px;
    width: 871px;
    padding: 0px 0px 0px 528px;
}

.text4 {
    color: #000000;
    font-weight: bold;
    font-size: 50px;
    padding: 0px 0px 0px 170px;
}

.text5 {
    color: #000000;
    font-size: 40px;
    padding: 0px 0px 0px 215px;
    margin-top: 20px;
}

.banner4 {
    height: 772px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../Homework4/image/heros_frame.png");
}

.text6 {
    color: #000000;
    font-size: 40px;
    text-transform: capitalize;
    padding: 0px 0px 0px 215px;
    margin-top: 20px;
}

.banner5 {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../Homework4/image/Frame_5.png");
}

.text7 {
    color: #000000;
    font-size: 40px;
    text-transform: capitalize;
    padding: 0px 0px 0px 215px;
    margin-top: 50px;
}

.banner6 {
    background-image: url("../Homework4/image/Frame_6.png");
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner7 {
    background-image: url("../Homework4/image/rectangle24.png"), url("../Homework4/image/rectangle78.jpeg");
    height: 790px;
    background-repeat: no-repeat, no-repeat;
    background-size: 504px 429px, cover;
    background-position: 1008px 186px, 0px 0px;
    margin-top: 20px;
}

.banner7-text1 {
    text-transform: capitalize;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 50px;
    height: 73px;
    padding: 150px 0px 0px 171px;
}

.banner7-text2 {
    color: #FFFFFF;
    text-align: left;
    font-size: 28px;
    height: 177px;
    width: 630px;
    padding: 24px 0px 0px 171px;
}

.banner7-text3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 20px;
    height: 33px;
    padding: 3px 0px 0px 171px;
}

.buttons {
    padding-left: 270px;
    padding-top: 70px;
}

.button {
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
}

.socials {
    padding: 0px 0px 50px 170px;
}

.social {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.socials2 {
    margin-top: 270px;
    padding: 0px 0px 150px 370px;

}

.social2 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
